extends base.pug

block contents
    h1=video.title
    p=video.description 
    div
        small=video.createdAt
        ul 
            each hashtag in video.hashtags
                li=hashtag
        span #{video.meta.views} #{video.meta.views === 1 ? "view" : "views"}
    a(href=`${video.id}/edit`) Edit &rarr;
    a(href=`${video.id}/delete`) Delete &rarr;